@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.foot p{
    text-align: center;
    font-family: "Roboto", sans-serif;
  background: #4CAF50;
  width: 100%;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 0;
  
}

.foot {
	flex: 0 0 auto;
	background: #4CAF50;
	padding: 15px 0;
}

